# Ignore all dotfiles...
.*
# except for .gitignore and GitHub workflows
!.gitignore
!.dockerignore
!.eslintrc.json
!.github
!frontend/.editorconfig
!frontend/.prettierrc

# Ignore Play! working directory #
db
eclipse
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
activator-*.sbt
node_modules
cerebro.db
data/
frontend/node_modules/
frontend/dist/
public/new/
public/angular/

# Python research helpers
__pycache__/
*.pyc
*.rpm
